body {
  background-color: rgb(251, 222, 226);

}

P {
text-align: center;
margin: 0px;
padding: 0px;
}

H2 {
margin: 0;
padding: 0;
}

H4{
text-align: center;
}

H6 {
text-align: center;
margin: 0;
padding: 0;
}

.DateRangePickerInput{
  border: 0px;
  background-color: transparent;
}

.container1 {
width: 15%;
display: inline-block;
vertical-align: top;
}

.container2 {
width: 55%;
display: inline-block;
vertical-align: top;
}

.container3 {
width: 28%;
display: inline-block;
vertical-align: top;
}

.number{
vertical-align: top;
color: white;
font-size: 50px;
padding: 10px;
align-items: center;
text-shadow: -1px -2px 0 #e5a13a, 1px -2px 0 #e5a13a, 
-1px 2px 0 #e5a13a, 1px 2px 0 #e5a13a, 
-2px -1px 0 #e5a13a, 2px -1px 0 #e5a13a, 
-2px 1px 0 #e5a13a, 2px 1px 0 #e5a13a,  
-2px -2px 0 #e5a13a, 2px -2px 0 #e5a13a, 
-2px 2px 0 #e5a13a, 2px 2px 0 #e5a13a
}

.text { 
vertical-align: center;
text-align: center;
padding: 3px;
align-items: center;

}

.boxes {
width: 28%;
vertical-align: top;
display: inline-flex;
align-items: center;

}


.myTop {
width: 15%;
display: inline-block;
vertical-align: top;
text-align: center;
}

.artist{
font-size: 20px;
text-align: center;
}